<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.safepayu.wallet">

    <application
        android:name=".BaseApp"
        android:allowBackup="true"
        android:icon="@drawable/icon_old100"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_old100"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activity.MyOrdersActivity"></activity>
        <activity android:name=".activity.booking.MovieActivity" />
        <activity android:name=".activity.recharge.InsuranceActivity" />
        <activity android:name=".activity.booking.TollActivity" />
        <activity android:name=".activity.booking.DonationActivity" />
        <activity android:name=".activity.booking.HotelActivity" />
        <activity android:name=".activity.BellNotifictionActivity" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <activity
            android:name=".activity.MapsActivity"
            android:label="@string/title_activity_maps" /> <!-- <activity android:name=".MapActivity" /> -->
        <activity android:name=".activity.booking.TrainActivity" />
        <activity android:name=".activity.booking.BusActivity" />
        <activity android:name=".activity.booking.FlightsActivity" />
        <activity android:name=".activity.booking.MetroActivity" />
        <activity android:name=".activity.PaidOrderActivity" />
        <activity android:name=".activity.CreatePassCodeActivity" />
        <activity
            android:name=".activity.HomeActivity"
            android:label="@string/title_activity_home" />
        <activity android:name=".activity.BuyMemberShip" />
        <activity
            android:name=".activity.AddUpdateAddress"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".activity.OtpVerification" />
        <activity android:name=".activity.NewAccount" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.Navigation" />
        <activity android:name=".activity.WalletActivity" />
        <activity android:name=".activity.SendMoney" />
        <activity android:name=".activity.AddBeneficiary" />
        <activity android:name=".activity.WalletAddMoney" />
        <activity android:name=".activity.PaymentType" />
        <activity android:name=".activity.recharge.MobileRecharge" />
        <activity android:name=".activity.recharge.DthRecharge" />
        <activity android:name=".activity.recharge.PostpaidLandlineBillpay" />
        <activity android:name=".activity.recharge.WaterBillPay" />
        <activity android:name=".activity.recharge.ElectricityPay" />
        <activity android:name=".activity.recharge.GasPay" />
        <activity android:name=".activity.Profile" />
        <activity android:name=".activity.Commission" />
        <activity android:name=".activity.TransferCommissionToWallet" />
        <activity android:name=".activity.Geneology" />
        <activity android:name=".activity.PackageDetails" />
        <activity android:name=".activity.ContactUs" />
        <activity android:name=".activity.ReferAndEarn" />
        <activity android:name=".activity.SearchActivity" />
        <activity android:name=".ChangePasscode" />
        <activity
            android:name=".activity.ForgotPasscode"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".activity.MemberBankAddPackages" />
        <activity android:name=".activity.SendMoneyToWallet" />
        <activity android:name=".activity.ForgetPassword" />
        <activity android:name=".activity.WalletHistory" />
        <activity android:name=".activity.RechargeHistory" />
        <activity android:name=".activity.QrCodeScanner" />
        <activity android:name=".activity.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" /> <!-- SMS Receiver -->
        <!-- <receiver android:name=".receiver.SmsReceiver"> -->
        <!-- <intent-filter android:priority="99999"> -->
        <!-- <action android:name="android.provider.Telephony.SMS_RECEIVED" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/icon_new_transparent" /> <!-- for firebase message -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service
            android:name=".service.OtpVerifyService"
            android:exported="false" />
        <service
            android:name=".service.MyFirebaseMsgService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.CAMERA"
        tools:ignore="PermissionImpliesUnsupportedChromeOsHardware" />
    <uses-permission android:name="android.hardware.camera" />
    <uses-permission android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>