<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.safepayu.wallet">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.CAMERA"
        tools:ignore="PermissionImpliesUnsupportedChromeOsHardware" />
    <uses-permission android:name="android.hardware.camera" />
    <uses-permission android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".BaseApp"
        android:allowBackup="true"
        android:configChanges="locale|layoutDirection"
        android:icon="@drawable/appicon_new"
        android:label="@string/app_name"
        android:roundIcon="@drawable/appicon_new"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activity.fixed_deposit.CreateFixedDepositActivity"></activity>
        <activity android:name=".activity.fixed_deposit.AvailableBalanceActivity" />
        <activity android:name=".activity.fixed_deposit.FixedDepositActivity" />
        <activity
            android:name=".activity.FingerprintActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FingerprintActivity2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ecommerce.activity.OrderDetailEcomActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ecommerce.activity.MyOrderEcomActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ecommerce.activity.AddAddressEcomActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ecommerce.activity.ProductDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ecommerce.activity.EHomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.booking.flight.FlightHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.booking.PaymentActivityBooking"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.booking.flight.FlightBookDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.booking.flight.BookingPaymentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SplashViewPagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.booking.flight.FlightPassengerDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustNothing" />
        <activity
            android:name=".activity.booking.flight.FlightDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.booking.flight.TwoWayListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.booking.flight.FlightListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.booking.bus.BusSeat_DetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.booking.bus.BusListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.booking.bus.BusLocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyOrdersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.booking.MovieActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.recharge.InsuranceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TermsAndCondition"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ScratchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.booking.TollActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.booking.DonationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.booking.hotel.HotelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.booking.hotel.AvailableHotels"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BellNotifictionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.booking.flight.TwoWayFlightDetailActivity"
            android:screenOrientation="portrait" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <activity
            android:name=".activity.MapsActivity"
            android:label="@string/title_activity_maps"
            android:screenOrientation="portrait" /> <!-- <activity android:name=".MapActivity" /> -->
        <activity
            android:name=".activity.booking.TrainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.booking.bus.BusActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.booking.flight.FlightsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.booking.MetroActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.booking.hotel.HotelDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PaidOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CreatePassCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HomeActivity"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BuyMemberShip"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddUpdateAddress"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.OtpVerification"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NewAccount"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustNothing" />
        <activity
            android:name=".activity.Navigation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WalletActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SendMoney"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddBeneficiary"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WalletAddMoney"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PaymentType"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PaymentTypeNew"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.recharge.MobileRecharge"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.recharge.DthRecharge"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.recharge.PostpaidBillpay"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.recharge.WaterBillPay"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.recharge.ElectricityPay"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.recharge.LandlineBillPay"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.recharge.GasPay"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Profile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Commission"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TransferCommissionToWallet"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Geneology"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PackageDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ContactUs"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ReferAndEarn"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChangePasscode"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ForgotPasscode"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.MemberBankAddPackages"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SendMoneyToWallet"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ForgetPassword"
            android:screenOrientation="portrait">

            <!-- <intent-filter android:autoVerify="true"> -->
            <!-- <data android:scheme="http" -->
            <!-- android:host="alias.safepeindia.com"/> -->


            <!-- <action android:name="android.intent.action.VIEW" /> -->


            <!-- <category android:name="android.intent.category.BROWSABLE" /> -->
            <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".activity.ChangePassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.KycUpdate"
            android:screenOrientation="portrait" />
        <activity
            android:name=".helper.UserImageCamera"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WalletHistory"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RechargeHistory"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.QrCodeScanner"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.ui.DemoAdi" />
        <activity
            android:name=".activity.Splash"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeFullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.otpActivityDEMO" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" /> <!-- SMS Receiver -->
        <!-- <receiver android:name=".receiver.SmsReceiver"> -->
        <!-- <intent-filter android:priority="99999"> -->
        <!-- <action android:name="android.provider.Telephony.SMS_RECEIVED" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/icon_new_transparent" /> <!-- for firebase message -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service
            android:name=".service.OtpVerifyService"
            android:exported="false" />
        <service
            android:name=".service.MyFirebaseMsgService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <receiver
            android:name=".helper.SmsBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVE" />
            </intent-filter>
        </receiver>
        <!-- Ecommerce -->
        <activity android:name=".ecommerce.fragment.ReviewProductFragment"
            android:screenOrientation="portrait"/>
        <activity android:name=".ecommerce.fragment.ThankYouFragment"
            android:screenOrientation="portrait"/>
        <activity android:name=".ecommerce.activity.SearchEcommerce"
            android:screenOrientation="portrait"/>

<!--   Fixed Deposit     -->

        <activity android:name=".activity.fixed_deposit.FDChoosePayment"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.fixed_deposit.FixedDepositListActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.fixed_deposit.InvestmentWallet"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.fixed_deposit.TransferInvestmentToWallet"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.loan.LoanActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>